@page
@model BakeryShop.Pages.OrderSucessModel
@{
}
<ol id=orderProccer>
    <li>
        <span class="step-number">1</span>Choose item!
    </li>
    <li>
        <span class="step-number">2</span>Details and Submit
    </li>
    <li class="current">
        <span class="step-number">3</span>Reciept
    </li>
</ol>
<h1> Ordered Confirmation!</h1>
<div class="border-success">
    <h2>Than you for Your Order!</h2>
    <p>
        We are proccessing in your order, will sent you a confirmation email soon!
        <br />
        Thanks for your time!
    </p>
</div>